body { background-color: rgb(21, 73, 153); }

*
{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

h1, h2 { margin-top: 1em; }

h1
{
	font-weight: 900;
	color: rgb(21, 73, 153);
}

h2 { font-weight: 700; }

.lead { font-weight: 300; }

.content
{
	background-color: #fff;
	padding-top: 1em;
}

p a:link
{
	color: rgb(21, 73, 153);
	text-decoration: underline;
}

p a:hover
{
	color: rgb(21, 73, 153);
	text-decoration: none;
}

p a:active
{
	color: rgb(255, 204, 4);
	text-decoration: none;
}

p a:visited
{
	color: rgb(120, 120, 120);
	text-decoration: underline;
}

footer a:link
{
	color: rgb(255, 204, 4);
	text-decoration: none;
}

footer a:hover
{
	color: rgb(255, 204, 4)!important;
	text-decoration: underline;
}

footer a:active
{
	color: rgb(255, 255, 255)!important;
	text-decoration: underline;
}

footer a:visited
{
	color: rgb(255, 204, 4);
	text-decoration: none;
}

mark,.mark { background-color: rgb(255, 204, 4); }

ol.breadcrumb
{
	background-color: rgb(21, 73, 153);
	margin: 0em;
	padding: .25em .5em .25em .5em;
	border-radius: 4px;
}

.breadcrumb-item a:link
{
	color: rgb(255, 204, 4);
	text-decoration: none;
}

.breadcrumb-item a:hover
{
	color: rgb(255, 204, 4);
	text-decoration: underline;
}

.breadcrumb-item a:active
{
	color: rgb(255, 255, 255);
	text-decoration: underline;
}

.breadcrumb-item a:visited
{
	color: rgb(255, 204, 4);
	text-decoration: none;
}

.breadcrumb-item.active
{
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.breadcrumb-item+.breadcrumb-item::before
{
	color: #fff;
	content: var(--bs-breadcrumb-divider, ">");
}

.nav-link.active {font-weight: 700;}